.vehicles-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	grid-gap: 50px;
}



.reviews-container{
	display: flex;
	justify-content: center;
}

.coments-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	grid-gap: 50px;
}











.card{
background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
	border: 2px solid black;
}

.card-content{
	width: 100px;
	height: 100px;
	background-color: orange;
}






