@import "header";
@import "the_ride";
@import "coment_section";
@import "paypal_section";
@import "morethan_section";
@import "vans_section";
@import "popular_section";
@import "welcome_section";
@import "why_reserve_section";
@import "why_reserve_items_section";
@import "discover_our_ride_section";


html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.layout {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

